.link-block {
  display: block;
}

.link-contrast {
  color: $white;

  &:hover {
    color: $gray-light-1;
    text-decoration: none;
  }
}

.link-disabled {
  opacity: 0.5;
}

.link-media {
  &:hover {
    text-decoration: none;
  }
}

.link-reset {
  color: inherit;
}
