.border-bottom {
  border-bottom: 1px solid $border-color;
}

.border-bottom-none {
  border-bottom: none;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-top-none {
  border-top: none;
}
