.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-none {
  float: none;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
