.show-xs {
  @include screen-xs {
    display: block;
  }
  @include screen-sm-min {
    display: none;
  }
}

.show-sm {
  @include screen-sm-max {
    display: block;
  }
  @include screen-md-min {
    display: none;
  }
}

.show-md {
  @include screen-md-max {
    display: block;
  }
  @include screen-lg {
    display: none;
  }
}

.show-lg {
  @include screen-lg {
    display: block;
  }
}
