.va-container {
  display: table;
  position: relative;
}

.va-container-h {
  width: 100%;
}

.va-container-v {
  height: 100%;
}

.va-middle {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}
