$font-size-0: 11px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 23px;
$font-size-5: 31px;
$font-size-6: 44px;

$font-weight-normal: normal;
$font-weight-bold: bold;

$line-height-factor: 1.5;
