$spacing: 20px;

$page-side-spacing: $spacing * 0.75;

$footer-height: 50px + 115 + 81 + 29 + 50;

// Additional styles below this line
//------------------------------------------------------------------------------
