$spacing: 20px;
$spacing-increment: $spacing * 0.25;
$spacing-sm: $spacing-increment * 3;
$spacing-md: $spacing-increment * 5;
$spacing-lg: $spacing-increment * 8;

$page-side-spacing: $spacing * 0.75;

$footer-height: 50px + 115 + 81 + 29 + 50;

// Additional styles below this line
//------------------------------------------------------------------------------
