.form__errors {
  @include border-radius;
  background-color: $red;
  padding: $spacing * 0.5;
  margin-bottom: $spacing * 0.5;
  p {
    color: $white;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}
